
p {
  color: #fff;
  cursor: pointer;
}

p:hover {
  color: #b2b2b2;
  transition: all 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191927;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;

}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.header .dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.header .dropdown:hover .dropdown-content {
  display: block;
}

.header .dropdown-content a {
  color: #333;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.header .contact-button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  width: 80px;
}

.reg-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  width: 80px;

}

.header .auth-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .auth-buttons button {
  margin-left: 10px;
}

.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

/* .content {
  margin: auto;
  width: 60%;
} */
.book-frame {
  margin-left: 20px;
  width: 500px;
  height: 500px;
  margin-top: 30px;
}

/* Styles for the main content */


.content {
  padding: 100px 20px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.book-frame img {
  border-radius: 10px;
}

.product {
  display: inline-block;
  margin: 20px;
}

.product img {
  width: 200px;
  height: 200px;
}

.product h2 {
  font-size: 24px;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .header .logo {
    font-size: 20px;
  }

  .header .auth-buttons button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .header .contact-button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .content {
    padding-top: 50px;
  }

  .content h1 {
    font-size: 30px;
  }

  .product img {
    width: 150px;
    height: 150px;
  }

  .product h2 {
    font-size: 20px;
  }
}


.btns-wrapper {
  display: flex;
  align-items: center;
  padding-right: 60px;
  gap: 20px;
}

span {
  color: #fff;
}

.logo-img {
  width: 90px;
  height: 70px;
}

body {
  background-color: whitesmoke;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#signupForm{
  margin: 0 auto;
}
.d{
  margin: 0 auto;
}

input{
  height: 40px;
  padding-left: 10px;
  border: 0;
  border-radius: 4px;
  border: 1px solid #191927;
  outline: none;
  font-size: 15px;
}
.s-btn{
  height: 40px;
  width: 120px;
  border: 1px solid #fff;
  color: #fff;
  background: #191927;
  border-radius: 4px;
  cursor: pointer;
}

.view-more-btn{
  height: 40px;
  width: 120px;
  border: 1px solid #fff;
  color: #fff;
  background: #191927;
  border-radius: 4px;
  cursor: pointer;
}
.view-more-btn:hover{
  color: #191927;
  background-color: #fff;
  transition: all 0.5s;
}
.s-btn:hover{
  color: #191927;
  background-color: #fff;
  transition: all 0.5s;
}
.book-info h2{
  color: #191927;
}
.book-info p{
  color: #191927;
}